In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [6]:
df = pd.read_csv("economic_index - economic_index.csv")

In [12]:
df.head()

   Unnamed: 0  year  month  interest_rate  unemployment_rate  index_price
0           0  2017     12           2.75                5.3         1464
1           1  2017     11           2.50                5.3         1394
2           2  2017     10           2.50                5.3         1357
3           3  2017      9           2.50                5.3         1293
4           4  2017      8           2.50                5.4         1256

In [13]:
df.drop(columns=["Unnamed: 0","year","month"],axis=1,inplace=True)

In [14]:
df.head()

   interest_rate  unemployment_rate  index_price
0           2.75                5.3         1464
1           2.50                5.3         1394
2           2.50                5.3         1357
3           2.50                5.3         1293
4           2.50                5.4         1256

In [15]:
df.isnull().sum()

interest_rate        0
unemployment_rate    0
index_price          0
dtype: int64

In [17]:
df.corr()

                   interest_rate  unemployment_rate  index_price
interest_rate           1.000000          -0.925814     0.935793
unemployment_rate      -0.925814           1.000000    -0.922338
index_price             0.935793          -0.922338     1.000000