In [7]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\data_anaylsis\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv("height-weight.csv")

In [4]:
df

    Weight  Height
0       45     120
1       58     135
2       48     123
3       60     145
4       70     160
5       78     162
6       80     163
7       90     175
8       95     182
9       78     170
10      82     176
11      95     182
12     105     175
13     100     183
14      85     170
15      78     177
16      50     140
17      65     159
18      76     150
19      87     167
20      45     129
21      56     140
22      72     160